.container-butons-category-btn {
  align-items: center;
  /* background: #c3ce6a; */
  display: flex;
  height: 5vh;
  width: 100px;
}

.container-butons-category-btn button {
  /* background: #c3ce6a; */
  border-radius: 0 25px 25px;
  color: #24292f;
  font-size: 16px;
  font-weight: 700;
  height: 4.5vh;
  letter-spacing: 1px;
  width: 100px;
}

.container-butons-category-btn button:hover {
  animation: rotating 10s;
  background-color: #7cd27c;
  border-radius: 0 25px 25px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  height: 4.5vh;
  letter-spacing: 1px;
  width: 100px;
}

.btn-all-category {
  /* background: #c3ce6a; */
  border-radius: 0 25px 25px;
  color: #24292f;
  font-size: 16px;
  font-weight: 700;
  height: 4.5vh;
  letter-spacing: 1px;
  width: 100px;
}


.btn-all-category:hover {
  animation: rotating 1s;
  background-color: #7cd27c;
  border-radius: 0 25px 25px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  height: 4.5vh;
  letter-spacing: 3px;
  width: 100px;
}


@keyframes rotating {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-10deg);
  }
}

