/* ***********ESCOPO PRINCIPAL**************** */
.container-main-done {
  align-items: center;
  background-color: #8BAC5B;
  border-radius: 1px 175px 0;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  max-height: 640px;
  width: 320px;
}
/* ***********HEADER INICIO**************** */
.cotainer-header-done {
  align-items: center;
  background-color: #8BAC5B;
  border-bottom: 10px solid white;
  border-radius: 1px 175px 0;
  display: flex;
  height: 22vh;
  margin-bottom: 10px;
  width: 320px;
}

.cotainer-header-done img {
  background-color: white;
  border-radius: 0 25px 25px;
  margin-left: 20px;
  padding: 5px 15px;
}

.cotainer-header-done img:hover {
  background-color: #c3ce6a;
  border-radius: 0 25px 25px;
  margin-left: 20px;
  padding: 5px 15px;
}

.cotainer-header-done h1 {
  align-items: center;
  color: #333;
  display: flex;
  font-family: ' Architects Daughter ' , cursive;
  font-size: 25px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 5px;
  margin-top: 5px;
  width: 260px;
}

/* **************HEADER FIM ************* */

/* **************INICIO BUTTONS************* */
.container-buttons-done {
  align-items: center;
  background-color: white;
  display: flex;
  min-height: 7vh;
  justify-content: space-around;
  width: 100%;
}

.container-buttons-done button {
  animation: rotating 10s;
  border-radius: 0 125px 25px;
  color: #343a40;
  font-family: " Architects Daughter", cursive;
  font-size: 20px;
  font-weight: 700;
  height: 4vh;
  letter-spacing: 2px;
  width: 100px;
}

.container-buttons-done button:hover {
  background-color: #c3ce6a;
  border: 3px solid white;
  border-radius: 0 25px 25px;
  color: #333;
  font-family: ' Architects Daughter', cursive;
  font-size: 20px;
  font-weight: 700;
  height: 4vh;
  letter-spacing: 2px;
  width: 100px;
}

/* **************FIM BUTTONS************* */

/******* INICIO CORPO BARRA SCROLL******** */
.container-body-important {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 370px;
  overflow-y: scroll;
  width: 320px;
}

.container-conteudo-body {
  align-items: center;
  display: flex;
  min-width: 280px;
}

.container-img-body {
  align-items: center;
  ackground-color:white;
  border: 1px solid #343a40;
  border-radius: 1px 125px 0;
  display: flex;
  flex-direction: row;
  height: 13vh;
  justify-content: center;
  width: 97%;
}

/**** OLHO PARTE INTERNA ***/
.container-img-body img {
  border: 8px solid #343a40;
  border-radius: 1px 125px 0;
  height: 110px;
  width: 180px;
}

.container-img-body:hover {
  align-items: center;
  animation: rotating 10s;
  display: flex;
  flex-direction: row;
  height: 13vh;
  justify-content: center;
  width: 97%;
}

.container-info-body {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}

.container-info-body #nationality {
  align-items: center;
  /* border: 0.5px solid #343a40; */
  border-radius: 1px 25px 0;
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 700;
  height: 18px;
  justify-content: center;
  margin-top: 15px;
  width: 70%;
}

.container-info-body #nationality:hover {
  align-items: center;
  background-color: green;
  border: 3px solid white;
  border-radius: 1px 25px 0;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 700;
  height: 6vh;
  justify-content: center;
  margin-top: 15px;
  width: 70%;
}

/* trabalhando esse container  */
.container-info-body-horizontal {
  align-items: center;
  /* border: 5px solid red; */
  border-radius: 1px 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* height: 6vh; */
  justify-content: space-around;
  min-width: 280px;
}

.container-info-body-horizontal-two {
  align-items: center;
  /* background-color: white; */
  /* border: 5px solid red; */
  border-radius: 1px 15px 0;
  color: #343a40;
  display: flex;
  flex-direction: column;
  height: 12vh;
  margin-bottom: 10px;
  width: 90%;
}

.container-info-body-horizontal-two p {
  align-items: center;
  border: 2px solid #333;
  background-color: white;
  border-radius: 1px 15px 0;
  display: flex;
  flex-wrap: wrap;
  font-family: ' Architects Daughter' , cursive;
  font-size: 18px;
  font-weight: 700;
  height: 5.5vh;
  justify-content: center;
  padding: 5px 5px;
  width: 100%;
}


.container-info-body-horizontal-two p:hover {
  align-items: center;
  border: 2px solid #333;
  background-color: green;
  border-radius: 1px 15px 0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: ' Architects Daughter' , cursive;
  font-size: 18px;
  font-weight: 700;
  height: 5.5vh;
  justify-content: center;
  width: 100%;
}


.container-info-body-horizontal-two button {
  background-color: white;
  border-radius: 1px 15px 0;
}

.container-info-body-horizontal-two button:hover {
  background-color: white;
  border-radius: 1px 15px 0;
}


/******* INICIO CORPO BARRA SCROLL******** */
.container-body-important {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 370px;
  margin-right: 2px;
  width: 320px;
}

.container-conteudo-body {
  align-items: center;
  background-color: #c3ce6a;
  border: 6px solid #343a40;
  border-radius: 1px 125px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 12px;
  min-height: 360px;
  padding-top: 10px;
  width: 300px;
}

.container-img-body {
  align-items: center;
  background-color:white;
  border: 1px solid #343a40;
  border-radius: 1px 125px 0;
  display: flex;
  flex-direction: row;
  height: 13vh;
  justify-content: center;
  width: 97%;
}

/**** OLHO PARTE INTERNA ***/
.img-main-favorites {
  border-radius: 1px 125px 0;
  height: 110px;
  width: 180px;
}

.img-main-favorites:hover {
  align-items: center;
  animation: rotating 10s;
  display: flex;
  flex-direction: row;
  height: 13vh;
  justify-content: center;
  width: 97%;
  }


.container-info-body {
  border-radius: 1px 175px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 12vh;
  width: 96%;
}

.container-info-body #nationality {
  align-items: center;
  background-color: white;
  border: 0.5px solid #343a40;
  border-radius: 1px 25px 0;
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 700;
  height: 6vh;
  justify-content: center;
  margin-top: 15px;
  width: 70%;
}

.container-info-body #nationality:hover {
  align-items: center;
  background-color: green;
  border: 3px solid white;
  border-radius: 1px 25px 0;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 700;
  height: 6vh;
  justify-content: center;
  margin-top: 15px;
  width: 70%;
}

/* trabalhando esse container  */
.container-info-body-horizontal {
  align-items: center;
  border-radius: 1px 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 9vh;
  justify-content: space-around;
  margin-top: 5px;
  width: 94%;
  }

@keyframes rotating {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}


@keyframes effectlight {

  0% {
    border-radius: 50%;
    box-shadow: 0 0 10px white;
  }

  25% {
    border-radius: 50%;
    box-shadow: 0 0 10px white;
  }

  50% {
    border-radius: 50%;
    box-shadow: 0 0 10px #777;
    left: 20px;
    width: 50px;
  }

  75% {
    border-radius: 50%;
    box-shadow: 0 0 25px wheat;
  }

  100% {
    border-radius: 50%;
    box-shadow: 0 0 10px yellowgreen;
  }
}
