@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&family=Roboto+Mono:wght@500&display=swapf') ;

.container-bar-header {
  align-items: center;
  border-bottom: 10px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-around;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.container-main-header {
  align-items: center;
  border-bottom: 10px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  min-height: 190px;
  width: 100%;
}

.ico-bar-header {
  background: whitesmoke;
  border-radius: 1px 15px 0;
  height: 40px;
  padding:6px 6px;
  width: 70px;

}


.ico-bar-header:hover {
  /* animation: effectBorder 1s; */
  background: #c3ce6a;
  border-radius: 1px 15px 0;
  height: 40px;
  padding: 6px 6px;
  width: 70px;

}

.h1-title-header {
  color: white;
  font-family: ' Architects Daughter' , cursive;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 5px;
}

.btn-search-header {
  /* background-color: red; */
  border:1px solid #343a40;
  border-radius: 1px 15px 0;
  cursor: pointer;
  height: 40px;
  margin-right: 20px;
  width: 70px;
}


@keyframes effectBorder {

  0% {
    box-shadow: 0 0 5px #777;
    width: 45px;

  }

  25% {
    box-shadow: 0 0 80px #ffffbf;
    width: 45px;
  }

  50% {
    box-shadow: 0 0 115px #ffff9e;
    width: 45px;
  }

  75% {
    box-shadow: 0 0 320px #ffff7a;
    width: 45px;
  }

  100% {
    box-shadow: 0 0 425px #ffff00;
    width: 45px;
  }
}
