.loginInput-main {
    align-items: center; 
    background-image: url("fundoApp01.jpg");
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: center;
    width: 320px;
}
 
.login-input-conteudo {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 108px;
    margin-bottom: 5px;
    width: 220px;
} 